@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
}

:root {
    --blue: #E4EAFF;
    --dark-blue: #21316A;
    --gray: #475467;
}   

body{
    font-family: Poppins;
}

section {
    display: flex;
    justify-content: center;
    overflow-x: clip;
    /*position: relative;
    z-index: 1;*/
    width: 100%;
}

.block_content {
    max-width: 1440px;
    width: 100%;
}

html,
body,
section {
    scroll-behavior: smooth;
}

h1{
    color: #21316A;
    font-size: 61px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}

h2{
    color: var(--dark-blue);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -0.72px;
}

h5{
    color: #21316A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
     
    
/* Menu */
#menu-header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 34px
}

.menu-header-menu-container {
    height: 100%;
}
#menu-mobile .menu-header-menu-container{
    height: auto !important;
}

#menu-header-menu a {
    color: var(--Gray-600, #475467);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
}

#menu-header-menu>.menu-item-has-children::after {
    content: url(../assets/images/chevron.svg);
    right: 0;
    position: absolute;
    top: 18px;
    transition: all .3s ease;
}

#menu-header-menu-1>.menu-item-has-children::after {
    content: url(../assets/images/chevron.svg);
    right: 0;
    position: absolute;
    top: -2px;
    right: 5px;
    transition: all .3s ease;
}

#menu-header-menu>.menu-item-has-children:hover::after {
    transform: scaleY(-1) translateY(-5px);
    transition: all .5s ease;
}

#menu-header-menu-1>.menu-item-has-children:hover::after {
    transform: scaleY(-1) translateY(-8px);
    transition: all .5s ease;
}

#menu-header-menu-1 {
    width: fit-content !important;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#menu-header-menu>.menu-item-has-children>.sub-menu {
    background: white;
    border-radius: 5px;
    box-shadow: -4px 3px 12.4px 0px rgba(0, 0, 0, 0.15);
    left: 0;
    width: 230px;
    opacity: 0;
    padding: 30px 25px; 
    position: absolute;
    top: 70%;
    transform: translateY(8px);
    visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    transition: all .3s ease;

    li a{
        font-size: 16px;
        font-weight: 400;
    }
}

#menu-header-menu>.menu-item-has-children {
    position: relative;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 999;
    cursor: pointer;
}

#menu-header-menu>.menu-item-has-children:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

/* hamburguer menu */

#nav-icon4 {
    width: 25px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 25px;
    background: var(--dark-blue);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 100%;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 100%;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 0px;
    width: 100%;
    margin-left: 0px;
}

.menu-mobile-container.active {
    right: 0;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.menu-mobile-container {
    right: -100%;
    top: 90px;
    opacity: 0;
    width: 100%;
    padding-bottom: 200px;
    position: absolute;
    z-index: 999;
    background-color: white;
    display: block;
    transition: all 0.8s ease-in;
}

.menu-mobile-container #menu-header-menu-1 {
    color: #475467;
    font-size: 22px;
    font-weight: 500;
}

.menu-mobile-container #menu-header-menu-1 li {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.menu-mobile-container #menu-header-menu-1 .menu-item-has-children>.sub-menu {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 80%;

    li a{
        font-size: 18px;
        font-weight: 400;
    }
}

.menu-mobile-container #menu-header-menu-1 .sub-menu {
    li {
        margin-bottom: 0px;
    }

    opacity: 0;
    visibility: hidden;
    position: relative;
    height: 0;
    transition: all 0.3s ease-in;
}

.menu-mobile-container #menu-header-menu-1 .sub-menu.show {
    margin-top: 20px;
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: all 0.3s ease-in;
}

#menu-mobile .menu-header-menu-container {
    display: flex !important;
    justify-content: center;
}

/*  */


.btn-white{
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: 1px solid var(--dark-blue);
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    color: var(--dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.btn-blue,
.add_to_cart_button,
.wc-block-cart__submit-button{
    display: flex !important;
    padding: 15px 20px;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    border-radius: 30px !important;
    border: 1px solid var(--dark-blue) !important;
    background: var(--dark-blue) !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;

    color: #FFF !important;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 18px !important;
}

.btn-blue::after,
.add_to_cart_button::after,
.wc-block-cart__submit-button::after{
    content:"" !important;
    background-image: url('../assets/images/Vector.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 15px;
    height: 14px;
}

.add_to_cart_button{
    width: 80%;
}

.wc-block-cart__submit-button{
    margin-top: 30px !important;
}

.wc-block-cart__sidebar{
    border: 1px solid #EEE;
    border-radius: 10px;
    padding: 45px 38px;

    .wc-block-cart__totals-title{
        color: #21316A !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: normal !important;
        text-align: center !important;
        margin-bottom: 20px !important;
    }

    .wc-block-components-totals-item .wc-block-components-totals-item__label,
    .wc-block-components-totals-item__value{
        color: #21316A !important;
    }
}

.wc-block-cart-item__image{
    a{
        border-radius: 5px;
        background: var(--blue);
        padding: 5px;
        display: flex;
    }
}

.wc-block-components-product-name{
    font-size: 24px !important;
    font-weight: 600 !important;
    color: var(--dark-blue) !important;
}

.wc-block-components-product-metadata__description{
    display: none !important;
}


.arrow_white::after{
    content:"";
    background-image: url('../assets/images/Vector.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 15px;
    height: 14px;
    filter: brightness(0) saturate(100%) invert(13%) sepia(91%) saturate(1354%) hue-rotate(209deg) brightness(95%) contrast(89%);
}

/* the slides */
.slick-slide {
    margin: 0 20px !important;
}

/* the parent */
.slick-list {
    margin: 0 -20px !important;
}

#testimonials{
    /* the slides */
    .slick-slide {
        margin: 0 2px !important;
    }

    /* the parent */
    .slick-list {
        margin: 0 -2px !important;
    }
}

#testimonials,
#multiple-steps {
    .slick-prev::before{
        background-image: url('../assets//images/prev-blue.svg');
    }

    .slick-next::before {
        background-image: url('../assets//images/next-blue.svg');
    }
}

.slick-prev{
    position: absolute;
    bottom:-70px;
    width: 50px !important;
    height: 50px !important;
    top: auto !important;
    left: 0 !important; 
   
    &::before{
        content:"" !important;
        background-image: url('../assets//images/prev.svg');
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        display: flex !important;
        opacity: 1 !important;
    }
}

.slick-next {
    position: absolute;
    bottom: -70px;
    width: 50px !important;
    height: 50px !important;
    top: auto !important;
    left: 75px !important;

    &::before {
        content: "" !important;
        background-image: url('../assets//images/next.svg');
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        display: flex !important;
        opacity: 1 !important;
    }
}

.slider-faq {

    &.inactive .item-content {
        max-height: 0px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s ease;
    }

    &.active .item-content {
        max-height: 400px;
        opacity: 1 ;
        visibility: visible;
        transition: all 0.6s ease;
    }

    &.active h4 {
        position: relative;
    }

    &.active::after {
        content: url('../assets/images/right.svg') !important;
        position: absolute;
        right: -15px;
        top: 10px;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    &.inactive::after {
        content: url('../assets/images/up.svg');
        position: absolute;
        right: -15px;
        top: 0;
        width: 28px;
        height: 28px;
        cursor: pointer;

    }
}

/*#multiple-steps {
    display: none !important;
}*/

.text-\[16px\] p{
    font-size: 16px !important;
    line-height: normal;
}

.pb-0 {
    padding-bottom: 0px;
}

.pt-0 {
    padding-top: 0px;
}

.lg\:rotate-\[354deg\]{
    --tw-rotate: 354deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.dashed{
    &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233333332b' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
        height: 100%;
        width: 2px;
        position: absolute;
        left: 0;
        top: 15px;
    }

    .dot::before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        background: #21316A;
        border-radius: 50%;
        left: -38px;
        top: 15px;
    }
}

#product-list{
    &::after{
        content: none;
    }
    &::before{
        content: none;
    }
}

.all-texts ul{
    margin: 0;
    padding: 0 50px 0 0;
    display: flex;
    list-style: none;
    -moz-column-gap: 50px;
    column-gap: 50px;
    flex-direction: row;
    animation: jw-announcement-bar-animation 300s linear infinite;

    li{
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        white-space: nowrap;
        text-transform: uppercase;        
    }

}

.woocommerce-account .woocommerce-MyAccount-content{
    width: 72% !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 28% !important;
}

.woocommerce-MyAccount-navigation-link--dashboard::before{
    content: "";
    background-image: url('../assets/images/user-square.svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}
.woocommerce-MyAccount-navigation-link--orders::before{
    content: "";
    background-image: url('../assets/images/radix-icons_dashboard.svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}
.woocommerce-MyAccount-navigation-link--downloads::before{
    content: "";
    background-image: url('../assets/images/Vector (6).svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}
.woocommerce-MyAccount-navigation-link--edit-address::before{
    content: "";
    background-image: url('../assets/images/Vector (7).svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}
.woocommerce-MyAccount-navigation-link--edit-account::before{
    content: "";
    background-image: url('../assets/images/tabler_logout-2.svg.svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}
.woocommerce-MyAccount-navigation-link--edit-account::before{
    content: "";
    background-image: url('../assets/images/carbon_edit.svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}
.woocommerce-MyAccount-navigation-link--customer-logout::before{
    content: "";
    background-image: url('../assets/images/tabler_logout-2.svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

#my-account .woocommerce{
    display: flex !important;
}

.woocommerce-orders-table{
    th,td{
        text-align: center;
    }

    tbody tr{
        height: 57px;

        &:nth-child(odd){
            background-color: #F8F8F8;
        }       
    }

    .woocommerce-orders-table__cell-order-actions a{ 
        background: var(--dark-blue) !important;
        border-radius: 5px;
        padding: 10px 20px !important;
        color: #fff !important;
        font-size: 12px !important;
        font-weight: 400 !important;

    }
}

.woocommerce table.shop_table{
    border-collapse: collapse !important;
    border: none !important;
}

.container{
    .woocommerce-table__product-name a{
        color: #21316A;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .woocommerce-table__product-name{
        color: rgba(33, 49, 106, 0.50);
        font-size: 14px;
        font-style: normal;
        font-weight: 400 !important; 
    }

    tfoot tr th{
        color: rgba(33, 49, 106, 0.50);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400 !important;
    }
    tfoot tr:last-child th,
    tfoot tr td{
        color: #21316A;
        font-size: 16px;
        font-style: normal;
        font-weight: 500 !important;
    }

}


.status{
    span{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        border-radius: 5px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        margin: auto;
        width: fit-content;
    }

    &.processing span {
        color: #9C5717;
        background: #FFF0C9;  
    }
    &.completed span {
        color: #329C17;
        background: #D0FFC9;

    }

    &.cancelled span {
        color: #9C1717;
        background: #FFC9C9;

    }

    &.Processing{
       
        background: #FFF0C9;
        color: #9C5717;
        border-radius: 9px;
        padding: 5px 50px;
        p{
            font-size: 14px !important; 
            text-align: center;
        }
    }

    &.Cancelled{
        color: #9C1717;
        background: #FFC9C9;
        border-radius: 9px;
        padding: 5px 50px;
        p {
            font-size: 14px !important;
            text-align: center;
        }
    }

    &.Completed {
        color: #329C17;
        background: #D0FFC9;
        border-radius: 9px;
        padding: 5px 50px;

        p {
            font-size: 14px !important;
            text-align: center;
        }
    }

}

.woocommerce-columns--addresses{
    address{
        border: none !important;
        margin-left: 20px;
        margin-top: 30px;
    }

    .woocommerce-column__title{
        color: #21316A;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .woocommerce-column__title.invoice::before{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: -4px;
        margin-right: 10px;
        content: "";
        background-image: url('../assets/images/invoice.svg');
        background-repeat: no-repeat;   
    }

    .woocommerce-column__title.car::before {
        display: inline-block;
        width: 23px;
        margin-bottom: -4px;
        height: 19px;
        margin-right: 10px;
        content: "";
        background-image: url('../assets/images/car.svg');
        background-repeat: no-repeat;
    }

    .woocommerce-customer-details--phone::before{
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-bottom: -2px;
        margin-right: 10px;
        position: relative !important;
        content: "" !important;
        background-image: url('../assets/images/phone.svg');
        background-repeat: no-repeat;
    }

    .woocommerce-customer-details--email::before{
        display: inline-block;
        width: 16px;
        height: 14px;
        margin-bottom: -2px;
        margin-right: 10px;
        position: relative !important;
        content: "" !important;
        background-image: url('../assets/images/letter.svg');
        background-repeat: no-repeat;
    }

    .pin::before{
        display: inline-block;
        width: 14px;
        height: 20px;
        left: 0;
        top: 6px;
        position: absolute;
        content: "" !important;
        background-image: url('../assets/images/pin.svg');
        background-repeat: no-repeat;
    }
}

.woocommerce-address-fields,
.edit-account{
    label{
        color: #21316A;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    input{
        padding: 10px 14px;
        border-radius: 8px;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      
        color: #667085;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    .selection .select2-selection {
        height: 52px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }

    .select2-selection__rendered{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px !important;
        color: #667085 !important;
        padding-left: 20px !important;
    }

    .select2-selection__arrow{
        top: 15px !important;
        margin-right: 10px;
    }

    button[type="submit"]{  
        display: flex;
        width: 100%;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid  var(--dark-blue);
        background:  var(--dark-blue);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        transition: all 0.3s ease;

        &:hover{
            background: white;
            color: var(--dark-blue);
            transition: all 0.3s ease;
        }
    }

    .form-row{
        margin-bottom: 30px !important;
    }

    .show-password-input{
        top: 10px !important;
    }

    span em{
        color: #667085;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

.wp-block-woocommerce-checkout-order-summary-block{
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding:35px 18px;

    .wc-block-components-totals-coupon__button,
    .wc-block-components-totals-coupon-link{
        display: flex;
        width: fit-content;
        padding: 9.219px 12.907px;
        align-items: center;
        gap: 7.375px;
        border-radius: 7.375px;
        background: #21316A;
        box-shadow: 0px 0.922px 1.844px 0px rgba(16, 24, 40, 0.05);
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    .wc-block-components-totals-coupon__input{
        input{
            padding: 9.219px 12.907px !important;
        }
        label{
            margin-top: -4px !important;
        }
    }
    .wc-block-components-text-input.is-active label{
        font-size: 10px !important;
    }

    .wc-block-components-totals-item {
        color: rgba(33, 49, 106, 0.50);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        &.wc-block-components-totals-footer-item{
            color: #21316A;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    .wc-block-components-product-name{
        font-size: 17px !important;
    }

    .wc-block-components-order-summary-item__individual-prices{
        display: none !important;
    }

}
.wc-block-components-totals-wrapper{
    border: none !important;
}

.wc-block-components-checkout-return-to-cart-button,
.wc-block-components-checkout-place-order-button{
    display: flex;
    width: fit-content !important;
    padding: 12px 20px 12px 40px !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    background: var(--dark-blue);
    box-shadow: 0px 0.922px 1.844px 0px rgba(16, 24, 40, 0.05);
    color: #FFF !important;
    text-align: center;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;

    svg {
        left: 10px !important; 
    }
}

.wc-block-components-checkout-place-order-button {
    padding: 12px 20px !important;
}

.wp-block-woocommerce-checkout-terms-block span,
.wc-block-components-checkout-step__description{
    color: rgba(71, 84, 103, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.wc-block-components-checkbox__label{
    color: #475467;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.wc-block-components-checkout-step__title{
    font-size: 16px !important;
}

.wc-block-components-form input,
.wc-block-components-address-card{
    border-radius: 8px !important;
    border: 1px solid #D0D5DD !important;
    background: #FFF !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}

.added_to_cart{
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid #21316A;
    background: #21316A;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    width: fit-content;
    padding: 10px 40px;
    padding-top: 10px !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.woocommerce-MyAccount-navigation-link.is-active{
    a{
        color: #1270DE !important;
    }

    &::before{
        filter: brightness(0) saturate(100%) invert(27%) sepia(79%) saturate(2784%) hue-rotate(203deg) brightness(95%) contrast(86%);
    }
}

.step-title{
    color: #21316A;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.step-text{
    color:  #475467;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#faq{
    ol{
        list-style: auto;
        padding-left: 20px;
        color: #475467;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    };
    ul{
        list-style: auto;
        padding-left: 20px;
        color: #475467;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

    p{
        color: #475467;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.svg-item-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: 0 auto;
    z-index: 2;
    opacity: .25;
}

.svg-item-animated path {
    stroke-dasharray: 300;
    animation: dash 10s linear  infinite;
}

.svg-item-animated .reverse {
    stroke-dasharray: 300;
    animation: reverse-dash 10s linear infinite;
}

#blog-content{
    .size-full{
        width: 100%;
        height: 418px;
        border-radius: 10px;
        object-fit: cover;
    }

    h2{
        margin-top: 80px;
    }
    P{
        margin-top: 30px;
        margin-bottom: 30px;
        color:#475467;
    }
    p:first-child{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    p:first-child img{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    img{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    ul{
        list-style: disc;
        font-size: 20px;
        color:#475467;
        padding-left: 25px;
        margin-top: 30px;
    }
}

#product-props{
    .content{
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        transition: all 0.6s ease;
        
        p {
            font-size: 12px;
            color: #475467;
            opacity: 0.5;
            line-height: normal;
        }

         ul {
            list-style: disc;
        }

         li {
            font-size: 12px;
            color: #475467;
            opacity: 0.5;
        }
    } 

    &.active .content{
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        padding-top: 20px;
        transition: all 0.6s ease;
    }

    .title.arrow::after{
        content: "";
        background-image: url('../assets//images/chevron.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 10px;
        width: 15px;
        height: 10px;
        transition: all 0.6s ease;
    }

    &.active .arrow::after{
        transform: rotate(-90deg);
        transition: all 0.6s ease;
    }

    .title.arrow{
    cursor: pointer;
    }
}

#quality-accordion{
    .content {
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        transition: all 0.6s ease;
    }

    &.active .content {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        padding-top: 20px;
        transition: all 0.6s ease;
    }
}

.product-description p{
    font-size: 14px;
    line-height: normal;
}

.ti-widget.ti-goog{
    padding: 0px 112px;
}


.privacy-policy #blog-content{
    h2:first-child {
        margin-top:0px
    }
}

.colors:nth-child(2){
    background: #97E2EC;
}
.colors:nth-child(3){
    background: #DCC573;
}
.star-rating{
    font-size: 18px;
}

.accordion-container{
    height: 420px;
}


@keyframes dash{
    100% {
        stroke-dashoffset: 1200;
    }
}

@keyframes reverse-dash {
    0% {
        stroke-dashoffset: 1200;
    }
}

@keyframes jw-announcement-bar-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
@media screen and (max-width:1300px) {
    .accordion-container {
        height: 450px;
    }
}

@media screen and (max-width:1024px){
    h1{
        color: #21316A;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.8px;
    }

    h2{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }

    h5{
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .btn-blue {
        font-size: 16px;
    }

    /*#multiple-steps {
        display: block !important;
    }*/

    .slider-faq {
        &.active::after {
            right: 0x;
        }

        &.inactive::after {
            right: 0px;
        }
    }

    .step-title {
        font-size: 16px;
        line-height: 17.619px;
    }

        .step-text {
        font-size: 14px;
        line-height: 17.619px;
    }

    .padding-mobile-0{
        padding-bottom: 0px;
    }

    #blog-content {
        .size-full {
            width: 100%;
            height: 270px;
        }
        h2 {
            margin-top: 50px;
        }
        img {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        ul {
            font-size: 16px;
            line-height: 30px;
        }
    }

    .title.arrow::after {
        top: 5px !important;
    }

    .ti-widget.ti-goog {
        padding: 0px 30px;
    }

    .accordion-container {
        height: 400px;
    }
}


@media screen and (max-width:508px) {
    .star-rating {
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
}